<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:include="layout :: htmlhead" th:with="title='滑稽管理系统'">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <!--<div class="layui-logo">layui 后台布局</div>-->
        <a href="/" style="font-weight: bold;">
            <div class="layui-logo">Hua Ji</div>
        </a>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <!--<ul class="layui-nav layui-layout-left">-->
            <!--<li class="layui-nav-item"><a href="">控制台</a></li>-->
            <!--<li class="layui-nav-item"><a href="">商品管理</a></li>-->
            <!--<li class="layui-nav-item"><a href="">用户</a></li>-->
            <!--<li class="layui-nav-item">-->
                <!--<a href="javascript:;">其它系统</a>-->
                <!--<dl class="layui-nav-child">-->
                    <!--<dd><a href="">邮件管理</a></dd>-->
                    <!--<dd><a href="">消息管理</a></dd>-->
                    <!--<dd><a href="">授权管理</a></dd>-->
                <!--</dl>-->
            <!--</li>-->
        <!--</ul>-->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="/images/logo.png" class="layui-nav-img">
                    贤心
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <!--<ul class="layui-nav layui-nav-tree"  lay-filter="test">-->
                <!--<li class="layui-nav-item layui-nav-itemed">-->
                    <!--<a class="" href="javascript:;">所有商品</a>-->
                    <!--<dl class="layui-nav-child">-->
                        <!--<dd><a href="javascript:;">列表一</a></dd>-->
                        <!--<dd><a href="javascript:;">列表二</a></dd>-->
                        <!--<dd><a href="javascript:;">列表三</a></dd>-->
                        <!--<dd><a href="">超链接</a></dd>-->
                    <!--</dl>-->
                <!--</li>-->
                <!--<li class="layui-nav-item">-->
                    <!--<a href="javascript:;">解决方案</a>-->
                    <!--<dl class="layui-nav-child">-->
                        <!--<dd><a href="javascript:;">列表一</a></dd>-->
                        <!--<dd><a href="javascript:;">列表二</a></dd>-->
                        <!--<dd><a href="">超链接</a></dd>-->
                    <!--</dl>-->
                <!--</li>-->
                <!--<li class="layui-nav-item"><a href="">云市场</a></li>-->
                <!--<li class="layui-nav-item"><a href="">发布商品</a></li>-->
            <!--</ul>-->
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">

        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script>
    //JavaScript代码区域
    $(function(){
        layui.use('element', function(){
            var element = layui.element;
            // 左侧导航区域（可配合layui已有的垂直导航）
            $.get("/auth/getUserPerms",function(data){
                if(data!=null){
                    getMenus(data);
                    element.render('nav');
                }else{
                    layer.alert("权限不足，请联系管理员",function () {
                        //退出
                        window.location.href="/logout";
                    });
                }
            });
        });
    })

    var getMenus=function(data){
        //回显选中
        var ul=$("<ul class='layui-nav layui-nav-tree' lay-filter='test'></ul>");
        for(var i=0;i < data.length;i++){
            var node=data[i];
            if( node.istype==0){
                if(node.pId==0){
                    var li=$("<li class='layui-nav-item' flag='"+node.id+"'></li>");
                    //父级无page
                    var a=$("<a class='' href='javascript:;'>"+node.name+"</a>");
                    li.append(a);
                    //获取子节点
                    var childArry = getParentArry(node.id, data);
                    if(childArry.length>0){
                        a.append("<span class='layui-nav-more'></span>");
                        var dl=$("<dl class='layui-nav-child'></dl>");
                        for (var y in childArry) {
                            var dd=$("<dd><a href='"+childArry[y].page+"'>"+childArry[y].name+"</a></dd>");
                            //判断选中状态
                            if(pathUri.indexOf(childArry[y].page)>0){
                                li.addClass("layui-nav-itemed");
                                dd.addClass("layui-this")
                            }
                            //TODO 由于layui菜单不是规范统一的，多级菜单需要手动更改样式实现；
                            dl.append(dd);
                        }
                        li.append(dl);
                    }
                    ul.append(li);
                }
            }
        }
        $(".layui-side-scroll").append(ul);
    }
    //根据菜单主键id获取下级菜单
    //id：菜单主键id
    //arry：菜单数组信息
    function getParentArry(id, arry) {
        var newArry = new Array();
        for (var x in arry) {
            if (arry[x].pId == id)
                newArry.push(arry[x]);
        }
        return newArry;
    }
</script>
</body>
</html>